       <a href="{{path('app_macronutrient', {name: 'proteine'})}}">Protéines</a> : {{aliment.protein}}g<br>
        <a href="{{path('app_macronutrient', {name: 'glucide'})}}">Glucides</a> : {{aliment.carbohydrate}}g<br>
        <a href="{{path('app_macronutrient', {name: 'lipide'})}}">Lipides</a> : {{aliment.lipid}}g